
        /* SEARCH */     
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
    background-position: center;
    background-size: cover;
}

header {
    background-color: #132147;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

section {
    margin: 40px;
    text-align: center;
}

.search-container {
    max-width: 600px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grade-dropdown {
    margin: 10px auto;
    width: 30%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
    display: inline-block;
    vertical-align: top;
}

.link {
    display: inline-block; 
 
    color: #fff;
    font-size: 1.5rem;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.link a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    position: relative;
    transition: color 0.3s ease;
}

.link a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    transition: width 0.3s ease, background-color 0.3s ease;
}

.link a:hover::after {
    width: 100%;
    left: 0;
    background: #0830e6;
}


.search-box {
    width: 75%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.1em;
    margin-right: 10px;
}

.search-button {
    padding: 15px 20px;
    background-color: #052a8d;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}

.search-button:hover {
    background-color: #2980b9;
}

.results-list {
    margin-top: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.result-item {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result-item h3 {
    color: #2c3e50;
    margin: 0 0 10px;
}

.result-item p {
    color: #555;
    line-height: 1.6em;
}

footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.profile {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.profile-info {
    flex: 1;
}

.profile-info h3 {
    color: #2c3e50;
    margin: 0 0 10px;
}

.profile-info p {
    color: #555;
    line-height: 1.6em;
}